<!DOCTYPE html>
<html>
    <head>
        <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
        <%= render :partial => 'layouts/stylesheet' %>
    </head>
    <body>
        <div id="container">
            <%= render :partial => 'layouts/header' %>
            <div id="wrapper" class="wat-cf">
                <div id="main">
                    <%= yield %>
                    <%= render :partial => 'layouts/flash_msg' %>
                    <%= render :partial => 'layouts/footer' %>
                </div>
                <%= render :partial => 'layouts/sidebar' %>
            </div>
        </div>
    </body>
</html>
